<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gungmayun.belajarmenghitung">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BelajarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PenambahanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PenguranganActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PerkalianActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PembagianActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HighScoreBagiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HighScoreKaliActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HighScoreKurangActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HighScoreTambahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExitActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>